<footer class="amp-footer">
    <div class="amp-container">
        <div class="amp-footer-content">
            <div class="amp-footer-contact">
                <h3 class="amp-footer-contact-title">Datos de contacto</h3>
                <ul class="amp-footer-social-list">
                    <li class="amp-footer-social-item">Neus Agüera Valls</li>
                    <li class="amp-footer-social-item">neus@cssillustrations.com</li>
                    <li class="amp-footer-social-item inline">
                        <a href="https://www.linkedin.com/in/nagueravalls/" target="_blank" class="amp-footer-social-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="amp-logo">
                <a class="amp-logo-text" href="/">
                    CSS ILLUSTRATIONS
                </a>
                <ul class="amp-footer-policy-list">
                    <li class="amp-footer-policy-item">
                        <a class="amp-footer-policy-link" target="_blank" href="https://www.websitepolicies.com/policies/view/crgE5Ze0">Política de Privacidad</a>
                    </li>
                    <li class="amp-footer-policy-item">
                        <a class="amp-footer-policy-link" target="_blank" href="https://www.websitepolicies.com/policies/view/S0MObbo6">Política de Cookies</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>