<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">

<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.Author }}{{ end }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}" />
<!--Insert OG Markup -->

<meta property="og:locale" content="es_ES" />
<meta property="og:type" content="website" />
<meta property="og:title" content="CSS Illustrations" />
<meta name="description" property="og:description" content="CSS Illustrations es un web sobre como crear illustraciones en CSS." />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="og:site_name" content="CSS Illustrations" />
<meta name="image" property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.socialImage }}" />
<meta property="og:image:secure_url" content="{{ .Site.BaseURL }}{{ .Site.Params.socialImage }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="632" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Neuxi11" />
<meta name="twitter:creator" content="@Neuxi11" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.socialImage }}" />
<meta name="theme-color" content="#D52941">
<meta name="robots" content="noodp" />
<link rel="icon"
      type="image/png"
      href="{{ .Site.BaseURL }}/icoCI.png">
<link rel="canonical" href="{{ .Permalink }}" />

<title> CSS ILLUSTRATIONS </title>

<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

{{ $sass := resources.Get "scss/main.amp.scss" }}
{{ $style := $sass | resources.ToCSS }}
<style amp-custom> {{ $style.Content | safeCSS }}</style>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
</head>