<head>
<meta charset="UTF-8">
<link rel="canonical" href="{{ .context.Permalink }}" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">

<meta name="author" content="{{ if .Params.author }}{{ .context.Params.author }}{{ else }}{{ .context.Site.Params.Author }}{{ end }}">
<meta name="keywords" content="{{ .context.Site.Params.keywords }}" />

<meta property="og:locale" content="es_ES" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .context.Title }}" />
<meta name="description" property="og:description" content="{{ .context.Summary | plainify | truncate 150  }}" />
<meta property="og:url" content="{{ .context.Permalink }}" />
<meta property="og:site_name" content="CSS Illustrations" />
<meta name="image" property="og:image" content="{{ .context.Site.BaseURL }}{{ .context.Params.img }}" />
<meta property="og:image:secure_url" content="{{ .context.Site.BaseURL }}{{ .context.Params.img }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="632" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Neuxi11" />
<meta name="twitter:creator" content="@Neuxi11" />
<meta name="twitter:image" content="{{ .context.Site.BaseURL }}{{ .context.Params.img }}" />
{{ range $name, $taxonomy := .context.Site.Taxonomies.tags }}
<meta name="article:tag" content="{{ $name }}">
{{ end }}
<meta property="article:section" content="Aprende HTML y CSS" />
<meta property="article:published_time" content="{{ .context.Params.date }}" />
<meta property="article:modified_time" content="{{ .context.Params.lastmod }}" />
<meta name="theme-color" content="#D52941">
<meta name="robots" content="noodp" />
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/icoCI.png">
<title> CSS ILLUSTRATIONS </title>

<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

{{ $sass := resources.Get "scss/main-post.amp.scss" }}
{{ $style := $sass | resources.ToCSS }}
<style amp-custom> {{ $style.Content | safeCSS }}</style>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
</head>