<ul class="home-post">

    {{ range first 3 (sort .section.list "Date") }}

        <li class="home-post-item">
            <a class="home-post-link" href="{{.Permalink}}">
            {{ if .Params.img }}
            <img class="home-post-image" src="{{ .Site.BaseURL }}/{{ .Params.img }}" alt="{{ .Title }}">
            {{ else }}
            <img class="home-post-image" src="{{ .Site.BaseURL }}/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
            {{ end }}

            <div class="home-post-body">
                <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
                <p class="home-post-resume">{{ .Summary | plainify | truncate 180 }}</p>
            </div>
            </a>
        </li>
    {{end}}
</ul>