{{ define "main" }}
  {{- partial "lab_animation.html" . -}}
  {{.Content}}
    <div class="container">

      {{ $countPost := len (where .Site.RegularPages.ByDate "Params.layout" "post") }}
      {{ if ge $countPost 10}}
        <h2  class="home-title-section">
          <a>
              <span class="pad">#</span>
              Últimas publicaciones
          </a>
        </h2>
        <ul class="home-post">
          {{range first 3 (where .Site.RegularPages.ByDate "Params.layout" "post")}}

          <li class="home-post-item">
            <a class="home-post-link" href="{{.Permalink}}">
            {{ if .Params.img }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}/{{ .Params.img }}" alt="{{ .Title }}">
            {{ else }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
            {{ end }}

              <div class="home-post-body">
                <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
                <p class="home-post-resume">{{ .Summary | plainify | truncate 180 }}</p>
              </div>
            </a>
          </li>
          {{end}}
        </ul>
      {{ end }}

  {{ $section := dict "title" "Curso tsum" "url" "/tags/tsum" "list" .Site.Taxonomies.tags.tsum }}
  {{ partial "home/section_home" (dict "context" . "section" $section) }}

   {{ if .Site.Taxonomies.tags.animaciones }}
      <h2  class="home-title-section">
        <a>
            <span class="pad">#</span>
            Animaciones
            <span class="smaller">(ver más)</span>
        </a>
    </h2>
    <ul class="home-post">

        {{ range first 3  .Site.Taxonomies.tags.animaciones }}
      <li class="home-post-item">
        <a class="home-post-link" href="{{.Permalink}}">
            {{ if .Params.img }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}/{{ .Params.img }}" alt="{{ .Title }}">
            {{ else }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
            {{ end }}

            <div class="home-post-body">
                <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
                <p class="home-post-resume">
                    {{ .Summary | plainify | truncate 180 }}</p>
                </div>
        </a>
      </li>
      {{end}}
    </ul>
    {{ end }}

    {{ if ge .Site.Taxonomies.tags.ilustraciones 10}}
    <h2  class="home-title-section">
        <a>
            <span class="pad">#</span>
            Illustraciones
            <span class="smaller">(ver más)</span>
        </a>
    </h2>
    <ul class="home-post">

        {{ range first 3  .Site.Taxonomies.tags.ilustraciones }}
      <li class="home-post-item">
        <a class="home-post-link" href="{{.Permalink}}">
            {{ if .Params.img }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}/{{ .Params.img }}" alt="{{ .Title }}">
            {{ else }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
            {{ end }}

            <div class="home-post-body">
                <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
                <p class="home-post-resume">
                    {{ .Summary | plainify | truncate 180 }}</p>
                </div>
        </a>
      </li>
      {{end}}
    </ul>
    {{ end }}
    <h2  class="home-title-section">
        <a>
            <span class="pad">#</span>
            Primeros pasos
            <span class="smaller">(ver más)</span>
        </a>
    </h2>
    <ul class="home-post">

      {{ range first 3  .Site.Taxonomies.tags.basic }}
      <li class="home-post-item">
        <a class="home-post-link" href="{{.Permalink}}">
            {{ if .Params.img }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}/{{ .Params.img }}" alt="{{ .Title }}">
            {{ else }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
            {{ end }}

            <div class="home-post-body">
                <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
                <p class="home-post-resume">
                    {{ .Summary | plainify | truncate 180 }}</p>
                </div>
        </a>
      </li>
      {{end}}
    </ul>

    <h2  class="home-title-section">
          <a>
              <span class="pad"><i class="fas fa-tags"></i></span>
              tags
          </a>
      </h2>
      <ul class="home-tag-list">

          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
              {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                   <li class="home-tag-item">
                    <a class="home-tag-link" href="{{ .Permalink }}">{{ $name }} ({{$taxonomy.Count}})</a>
                  </li>
              {{ end }}
          {{ end }}
      </ul>
    </div>
{{ end }}

