{{ define "main" }}
  {{- partial "lab_animation.html" . -}}
  {{.Content}}
    <div class="container">
      <h2  class="home-title-section">
        <a>
            <span class="pad">#</span>
            Últimas publicaciones
        </a>
      </h2>
      <ul class="home-post">
        {{range first 4 .Site.RegularPages.ByDate}}
        <li class="home-post-item">
          <a class="home-post-link" href="{{.Permalink}}">
          {{ if .Params.img }}
            <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
          {{ else }}
            <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
          {{ end }}

            <div class="home-post-body">
              <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
              <p class="home-post-resume">{{ .Summary | plainify | truncate 180 }}</p>
            </div>
          </a>
        </li>
        {{end}}
      </ul>

      <h2  class="home-title-section">
          <a href="/tags/tsum">
            <span class="pad">#</span>
            Tsum
            <span class="smaller">(ver más)</span>
          </a>
      </h2>

      <ul class="home-post">
        {{ range first 3  (sort .Site.Taxonomies.tags.tsum "Date") }}
        <li class="home-post-item">
          <a class="home-post-link" href="{{.Permalink}}">
          {{ if .Params.img }}
            <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
          {{ else }}
            <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
          {{ end }}

            <div class="home-post-body">
              <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
              <p class="home-post-resume">{{ .Summary | plainify | truncate 180 }}</p>
            </div>
          </a>
        </li>
        {{end}}
      </ul>

      <h2  class="home-title-section">
        <a>
            <span class="pad">#</span>
            Animaciones
            <span class="smaller">(ver más)</span>
        </a>
    </h2>
    <ul class="home-post">

      {{range first 3 .Site.RegularPages}}
      <li class="home-post-item">
        <a class="home-post-link" href="{{.Permalink}}">
            {{ if .Params.img }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
            {{ else }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
            {{ end }}

            <div class="home-post-body">
                <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
                <p class="home-post-resume">
                    {{ .Summary | plainify | truncate 180 }}</p>
                </div>
        </a>
      </li>
      {{end}}
    </ul>
    <h2  class="home-title-section">
        <a>
            <span class="pad">#</span>
            Illustraciones
            <span class="smaller">(ver más)</span>
        </a>
    </h2>
    <ul class="home-post">

      {{range first 3 .Site.RegularPages}}
      <li class="home-post-item">
        <a class="home-post-link" href="{{.Permalink}}">
            {{ if .Params.img }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
            {{ else }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
            {{ end }}

            <div class="home-post-body">
                <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
                <p class="home-post-resume">
                    {{ .Summary | plainify | truncate 180 }}</p>
                </div>
        </a>
      </li>
      {{end}}
    </ul>
    <h2  class="home-title-section">
        <a>
            <span class="pad">#</span>
            Animaciones
            <span class="smaller">(ver más)</span>
        </a>
    </h2>
    <ul class="home-post">

      {{range first 3 .Site.RegularPages}}
      <li class="home-post-item">
        <a class="home-post-link" href="{{.Permalink}}">
            {{ if .Params.img }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
            {{ else }}
              <img class="home-post-image" width="100%" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
            {{ end }}

            <div class="home-post-body">
                <h3 class="home-post-title">{{ .Title | truncate 25 }}</h3>
                <p class="home-post-resume">
                    {{ .Summary | plainify | truncate 180 }}</p>
                </div>
        </a>
      </li>
      {{end}}
    </ul>
      <h2  class="home-title-section">
          <a>
              <span class="pad">#</span>
              tags
          </a>
      </h2>
      <ul id="all-tags">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
              {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                  <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
              {{ end }}
          {{ end }}
      </ul>
    </div>
{{ end }}