<!DOCTYPE html>
<html lang="es">
    {{ if eq .Params.layout "post" }}
        {{- partial "common/head-post.html" (dict "context" . ) -}}
    {{ else }}
        {{- partial "common/head.html" . -}}
    {{ end }}
    <body>
        {{ partial "common/cookieconsent.html"}}
        {{- partial "common/header.html" . -}}
        <div class="content" id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "common/footer.html" . -}}
        {{- partial "javascript.html"}}
    </body>
</html>
