{{ define "main" }}
    <main class="post">
        <div class="post-info">
            {{ if .IsTranslated }}
                {{ i18n "postAvailable" }}
                {{ range .Translations }}
                    <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                {{ end}}
            {{ end }}
            </p>
        </div>

        <article>
            <div class="post-header">
                <div class="container">

                    <h1 class="post-title">{{ .Title | markdownify }}</h1>

                    <div class="post-dates">
                        {{ with .Params.Author }}
                            <div class="post-dates-title author">
                                <i class="fas fa-user"></i>
                                <span class="post-date-text"> {{ . }}</span>

                            </div>
                        {{ end }}
                        {{ with .Params.Date }}
                            <div class="post-dates-title">
                                    <i class="fas fa-pen-nib"></i>
                                <span class="post-date-text"> {{ .Format "02-01-2006" }}</span>

                            </div>
                        {{ end }}
                        {{ with .Params.Lastmod }}
                            <div class="post-dates-title">
                                <i class="fas fa-highlighter"></i>
                                <span class="post-date-text"> {{ .Format "02-01-2006" }}</span>

                            </div>
                        {{ end }}
                    </div>
                    {{- with .Params.tags }}

                      <ul class="post-tag-list">
                            <i class="fas fa-tags"></i>
                            {{- range . -}}
                          <li class="post-tag-item">
                              <a class="post-tag-link" href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{.}}</a></a>
                          </li>
                            {{- end }}
                        </ul>

                      {{- end }}
                </div>
            </div>

            <div class="post-content">
                <div class="container">
                    {{ .Content }}
                </div>
            </div>

            {{- if .Params.toc }}
                <hr />
                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr />
            {{- end }}
        </article>

        <div class="container">
            <nav class="nav-insection">
                {{ $pages := where site.Pages "Params.categories" "intersect" .Params.categories }}

                {{ with $pages.Prev . }}
                    <a class="nav-insection-link prev" href="{{.Permalink}}">
                            <i class="fas fa-long-arrow-alt-left"></i> {{ .Name}}
                    </a>
                {{ end }}

                {{ with $pages.Next . }}
                    <a class="nav-insection-link next" href="{{.Permalink}}">
                         {{ .Name}} <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                {{ end }}

            </nav>

        </div>



        <div class="post-info">


                {{- if .GitInfo }}
  				    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg><a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a> @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}</p>
  				{{- end }}
  			</div>

        {{ if .Params.comments }}
          <div id="comments" class="thin">
                {{ partial "disqus.html" . }}
      		</div>
        {{ end }}
    </main>
{{ end }}
