{{ $title := .Page.Title }}
{{ $absUrl := .Permalink }}
<div class="share-buttons">
    <div class="share-buttons-list">
        <amp-social-share
        type="linkedin"
        class="amp-share-buttons-link">
        </amp-social-share>
        <amp-social-share
        type="twitter"
        class="amp-share-buttons-link">
        </amp-social-share>
        <amp-social-share
        type="whatsapp"
        class="amp-share-buttons-link">
        </amp-social-share>
        <amp-social-share
        type="email"
        class="amp-share-buttons-link">
        </amp-social-share>
    </div>
</div>

