.avatar {
    width: 180px;
    height: 180px;
    background: $c_white;
    border: 10px solid $c_deepblue;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    @include transform(scale(0.9));
    @include border-radius(50%);
}
.avatar-head {
    width: 80px;
    height: 106px;
    background: $c_skincolor;
    margin: 32px auto 0 auto;
    z-index: $z1000;
    position: inherit;
    @include box-shadow(0px 3px 0px -2px rgba(0,0,0,0.2));
    @include border-radius(50%);
    &:before, &:after{
        content: '';
        display: block;
        background: $c_hairdark;
        z-index: 100;
        height: 37px;
        width: 55px;
        left: 1%;
        top: -1%;
        position: absolute;
        @include border-radius(50%);

    }

    &:after {
        height: 38px;
        width: 54px;
        left: 28%;
        top: -2%;
    }
}
.avatar-eye {
    background: $iris-color;
    height: 16px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    left: 22%;
    top: 48px;
    &.right{
        left: inherit;
        right: 22%;
    }
    &:before, &:after{
        content: "";
        width: 5px;
        height: 5px;
        background:   $c_white;
        display: block;
        z-index: 100;
        position: absolute;
        bottom: 10px;
        left: 1px;
        @include border-radius(50%);
    }
    &:after{
        width: 4px;
        height: 4px;
        top: 5px;
        left: 7px;
    }

}
.avatar-eyebrown{
    width: 16px;
    height: 10px;
    background: none;
    display: block;
    z-index: 100;
    position: absolute;
    border-top: 2px solid $iris-color;
    top: -8px;
    left: -1px;
    @include border-radius(50%);
}
.avatar-glasses {
    position: absolute;
    z-index: $z1000;
    top: 43px;
    left: 7px;
}
.avatar-glasses-len {
    border: 4px solid   $c_black;
    height: 19px;
    width: 23px;
    position: absolute;
    top: 0;
    left: 0;
    @include border-radius(6px 6px 12px 12px);
    &.right{
        left: 35px;
    }
}
.avatar-glasses-bridge {
    height: 4px;
    width: 12px;
    position: absolute;
    background:   $c_black;
    top: 5px;
    left: 27px;
}
.avatar-ear {
    background: $c_skincolor;
    height: 24px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    left: -7%;
    top: 46px;
    &:after{
        content:'';
        display: block;
        position: absolute;
        background: $orange-base;
        width: 5px;
        height: 5px;
        bottom: -2px;
        left: 6px;
        z-index: 100;
        @include transform(translateX(-50%));
        @include border-radius(50%);
    }
    &.right{
        left: inherit;
        right: -7%;
        &:after{
            left: inherit;
            right: 1px;
        }
    }
}
.avatar-mouth {
    background:   $c_white;
    height: 7px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    left: 50%;
    border: 2px solid $nose-color;
    border-left: 1px;
    border-right: 1px;
    bottom: 13px;
    @include border-radius(22% 19% 50% 50%);
    @include transform(translate(-50%));
}
.avatar-nose {
    width: 9px;
    height: 4px;
    background: $nose-color;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 70px;
    @include border-radius(26% 26% 50% 50%);
    @include transform(translate(-50%));
}
.avatar-hair {
    width: 100px;
    height: 150px;
    background: $c_hairdark;
    background: -moz-linear-gradient(top, $c_hairdark 60%, $c_hairlight 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(60%, $c_hairdark), color-stop(100%, $c_hairlight));
    background: -webkit-linear-gradient(top, $c_hairdark 60%, $c_hairlight 100%);
    background: -o-linear-gradient(top, $c_hairdark 60%, $c_hairlight 100%);
    background: -ms-linear-gradient(top, $c_hairdark 60%, $c_hairlight 100%);
    background: linear-gradient(to bottom, $c_hairdark 60%, $c_hairlight 100%);
    position: absolute;
    z-index: $z10;
    left: 50%;
    top: 20px;
    @include transform(translate(-50%));
    @include border-radius(44% 44% 26% 26%);

}
.avatar-neck {
    width: 40px;
    height: 40px;
    background: $c_skincolor;
    margin: -15px auto;
    position: relative;
    z-index: $z100;
}
.avatar-body {
    width: 130px;
    height: 114px;
    background: $c_snowblue;
    margin: -20px auto 0 auto;
    z-index: 100;
    position: relative;
    @include border-radius(50%);
    &:before{
        content:'';
        display: block;
        position: absolute;
        background: $c_skincolor;
        width: 40px;
        height: 40px;
        top: -24px;
        left: 50%;
        z-index: 100;
        border-bottom: 3px solid $c_deepblue;
        @include transform(translateX(-50%));
        @include border-radius(50%);
    }
}




@media only screen and (min-width: 1024px) {
    .avatar {
        margin: 20% auto 10% auto;
        @include transform(scale(1.2));
        &.small {
            @include transform(scale(0.7));
        }
    }
}
