.error-illustration{
    margin: 30% auto 48px;
}
.error-text {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

@media only screen and (min-width: 1024px) {
    .errorpage{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    .error-illustration {
        margin: 15% 0;
        transform: scale(1.5);
    }
}