.home-post {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.home-post-link{
    display: block;
    overflow: hidden;
}
.home-post-item{
    list-style: none;
    margin-bottom: 36px;
}
.home-post-image{
    width: 100%;
}
.home-post-body{
    padding: 12px;
    margin: -10px 0 0 0;
    background: $c_white;
    .shine & {
        background: $c_snowblue;
    }
    .dark &{
        background: $c_deepblue;
    }
}
.home-post-title{
    margin: 12px 0 0 0;
    text-transform: uppercase;
    .shine &{
        color: $c_rustyred;
    }
    .dark &{
        color: $c_snowblue;
    }

}
.home-post-resume{
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin: 0;
    .dark &{
        color: $c_white;
    }
}

.home-title-section {
    margin-bottom: 12px;
    padding-left: 12px;
    .pad {
        color: $c_rustyred;
    }
    .smaller{
        font-size: 12px;
    }
}

@media only screen and (min-width: 1024px) {
    .home-post {
        flex-direction: row;
        margin-bottom: 24px;
    }
    .home-title-section {
        padding-left: 0;
    }
    .home-post-link{
        transition: all .2s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 11px $c_deepblue;
            transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -moz-transform: scale(0.95);
            -ms-transform: scale(0.95);
            -o-transform: scale(0.95);
        }
    }
}