.lab-animation {
    position: relative;
    width: 275px;
    height: 500px;
    margin: -75px auto;
    transform: scale(0.5);
}
.lab-flask{
    position: absolute;
    width: 242px;
    height: 383px;
    animation: shake 10s linear 1;
    left: 13%;
}
.lab-flask-body {
    width: 250px;
    height: 250px;
    background: $c_snowblue;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
.lab-flask-neck {
    width: 85px;
    height: 225px;
    background: $c_snowblue;
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
}

.lab-flask-liquid {
    width: 120px * 2;
    height: 120px;
    position: absolute;
    border-bottom-left-radius: 120px * 2;
    border-bottom-right-radius: 120px * 2;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: $c_shinyred;
    .dark &{
        background: $c_deepblue;
    }
}

.lab-tree-trunk {
    position: absolute;
    height: 500px;
    width: 13px;
    background: $c_deepblue;
    border-right: 7px solid $c_snowblue;
    left: 0px;
}
.lab-tree-branch {
    position: absolute;
    height: 10px;
    width: 260px;
    background: $c_deepblue;
    right: 15px;
    top: 86px;
}
.lab-tree-ground {
    position: absolute;
    height: 16px;
    width: 275px;
    background: $c_deepblue;
    bottom: 0;
}
.lab-fire {
    height: 75px;
    width: 73px;
    background: $c_snowblue;
    position: absolute;
    bottom: 7px;
    border-radius: 5px 50px 50px 50px;
    transform: rotate(45deg);
    left: 22%;
    border-left: 2px solid $c_deepblue;
    border-top: 1px solid $c_deepblue;
    animation: fire-color 10s linear 1;
}
.lab-fire-flame {
    height: 48px;
    width: 48px;
    background: $c_shinyred;
    position: absolute;
    bottom: 10px;
    border-radius: 5px 50px 50px 50px;
    border-left: 4px solid $c_rustyred;
    transform: rotate(25deg);
    left: 20%;
    &.right{
        transform: rotate(-25deg) ;
    }
}
.lab-bubble{
    position: absolute;
    left: 80px;
    bottom: 160px;
    height: 40px;
    width: 40px;
    border: 4px solid $c_rustyred;
    background: $c_shinyred;
    border-radius:50%;
    animation: move-bubble 10s linear infinite;
    animation-delay:4s;
    opacity: 0;

    &.medium{
        height: 30px;
        width: 30px;
        left: 85px;
        bottom: 140px;
        animation-delay: 7s;
    }
    &.small{
        height: 20px;
        width: 20px;
        left: 95px;
        bottom: 140px;
        animation-delay: 5s;
    }
    &.smaller{
        height: 15px;
        width: 15px;
        left: 80px;
        bottom: 150px;
        animation-delay: 6s;
    }
    &:before{
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        background: $c_t_white;
        border-radius: 50px 0 50px 0;
        &.small{
            height: 15px;
            width: 15px;
        }
        &.smaller{
            height: 5px;
            width: 5px;
        }
    }
    .dark &{
        border: 4px solid $c_snowblue;
        background: $c_deepblue;
    }
}
.lab-explosion, .lab-explosion-bubble{
    position: absolute;
    left: 55px;
    top: -115px;
    height: 115px;
    width: 190px;
    background: $c_deepblue;
    border-radius:50%;
    &:before, &:after{
        content: '';
        position: absolute;
        left: -3px;
        top: -41px;
        height: 81px;
        width: 95px;
        background: $c_deepblue;
        border-radius:50%;
    }
    &:after{
        top: 60px;
            left: 11px;
    }
}
.lab-explosion-bubble {
    top: 16px;
    left: 0;
    &:before, &:after{
        left: 83px;
        top: -41px;
    }
    &:after{
        top: 60px;
        right: 11px;
    }
}
@keyframes shake {
    1%, 30%{
        transform: translate(0, 0);
    }
    31%, 39%, 47% {
      transform: translate(0, 0);
    }
    32%, 38%, 40%, 46%  {
      transform: translate(2px, 0);
    }
    33%, 35%, 37%, 41%, 43%, 45% {
      transform: translate(-4px, 0);
    }
    34%, 36%, 42%, 44%  {
      transform: translate(4px, 0);
    }
    48%, 100%{
        transform: translate(0, 0);
    }
}

@keyframes fire-color{
    5%,25%, 45%, 65%, 85%{
        transform: scale(1.2) rotate(45deg);
}
    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%{
        transform: scale(1) rotate(45deg);
}
    15%, 35%, 55%, 75%, 95%{
        transform: scale(1.3) rotate(45deg);
}
}

@keyframes move-bubble{
    0%{
        transform: translate(0, 0) scale(0);
        opacity:0;
}
    20%{
        opacity:1;
        transform: scale(0.75);
}
    50%{
        transform: translate(60px, -100px) scale(1.3);
}
    100%{
        transform: translate(50px, -400px) scale(1.3);
        opacity: 0;
}
}

@media only screen and (min-width: 1024px) {
    .row{
        &.animation{
            background: $c_snowblue;
            margin-bottom: 48px;
        }
    }
    .lab-animation {
        transform: scale(0.5);
        transform-origin: top;
        margin: 24px auto  calc( (-500px * (1 - 0.5)) + 24px);
    }
    .lab-flask-body {
        background: $c_white;
    }
    .lab-flask-neck {
        background: $c_white;
    }
    .lab-fire {
        background: $c_white;
    }
    .lab-tree-trunk {
        border-right: 7px solid $c_white;
    }
    .lab-tree-branch {
        right: inherit;
    }
}