.list-title{
    padding-left: 12px;
    margin-bottom: 12px;
}
.list-subtitle{
    padding-left: 12px;
    color: $c_rustyred;
}
.list-post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.list-post-item {
    width: 100%;
    list-style: none;
    float: 1;
    border-bottom: 0.5px solid $c_deepblue;
    margin-bottom: 12px;
}
.list-post-link {
    display: flex;
    flex-direction: row;
    padding: 12px 12px 12px 0;
    flex-wrap: wrap;
}
.list-post-image {
    float: 1 30%;
    width: 30%;
    align-self: start;
}
.list-post-body {
    flex: 1;
    padding-left: 12px;
}
.list-post-resume{
    font-size: 14px;
    line-height: 16px;
}