.list-title{
    padding-left: 12px;
    margin-bottom: 12px;
}
.list-subtitle{
    padding-left: 12px;
    color: $c_rustyred;
}
.list-post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.list-post-item {
    width: 100%;
    list-style: none;
    float: 1;
}
.list-post-link {
    display: flex;
    flex-direction: row;
    padding: 12px;
    flex-wrap: wrap;
}
.list-post-image {
    float: 1 30%;
    width: 30%;
    align-self: start;
}
.list-post-body {
    flex: 1;
    padding-left: 12px;
}
.list-post-resume{
    font-size: 14px;
    line-height: 16px;
}

@media only screen and (min-width: 1024px) {
    .list-post{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .list-post-item {
        flex: 1;
        min-width: 50%;
        max-width: 50%;
        transition: all .2s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 11px $c_deepblue;
            transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -moz-transform: scale(0.95);
            -ms-transform: scale(0.95);
            -o-transform: scale(0.95);
        }
    }
}