.post {
    max-width: $container_xs;
    width: 100%;
    margin: 0 auto;
    article{
        padding: 0 12px;
    }
    p, li{
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        font-family: $slab;
        margin-bottom: 12px;
        a {
            color: $c_rustyred;
            font-weight: 300;
            font-size: 14px;
        }
        img {
            margin: 0 auto;
            display: block;
            max-width: 320px;
        }
    }
    blockquote {
        margin: 12px 12px 42px 12px;
        padding: 12px;
        border-left: 2px solid $c_rustyred;
        h4, h3, h2, h1{
            font-style: normal;
            color: $c_rustyred;
            margin-bottom: 12px;
        }
    }
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 20px;
        border-radius: 8px;
        overflow: auto;
    }
    pre code {
        margin: 0;
        padding: 0;
        font-feature-settings: normal;
        border-radius: 5px;
    }
    ul, ol {
        margin-left: 20px;
        padding: 0;
    }
    .highlight{
        font-weight: 400;
        font-style: italic;
    }
    h2{
        margin: 24px 0 12px 0;
    }
    .highlight{
        margin-bottom: 24px;
    }
}
.post-title {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 20px;
}
.post-cover{
    max-width: 100%;
}

@media only screen and (min-width: 1024px) {
    .post {
        max-width: $container_l;
        article{
            padding: 0;
        }
        p, li {
            font-size: 18px;
            line-height: 22px;
            a{
                font-size: inherit;
                &:hover{
                    text-decoration: underline;
                }
            }
            img {
                max-width: 100%;
            }
        }
        .highlight{
            margin-bottom: 48px;
        }
        blockquote {
            p{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .post-title {
        font-size: 32px;
        line-height: 36px;
        margin: 0 0 24px;
    }
}