@charset "UTF-8";

/* Standard Colors */
$c_white: #fff;
$c_black: #000;

/* Theme Colors */
$c_snowblue: #EBF2FF;
$c_deepblue: #44647A;
$c_shinyred: #ED254E;
$c_rustyred: #D52941;

/*Transparent Colors */
$c_t_white: rgba(255,255,255,0.5);
$c_t_black: rgba(0,0,0,0.5);
$c_t_snowblue: rgba(235,242,255,0.95);

/*** avatar colors */
$c_skincolor: rgba(247, 218, 202,1);
$c_hairdark: rgba(169,107,49,1);
$c_hairlight: rgba(237,171,3,1);
$iris-color: rgba(128,78,31,1);
$lips-color: rgba(241,172,195,1);
$nose-color: rgba(197,164,145,1);

/*** angry-cat colors ***/
$c_cat_browndark: #795548;
$c_cat_brownlight: rgba(214,189,124,1);


/* screens */
$container_xs: 375px;
$container_l: 800px;

/* fonts */
$oswald: 'Oswald', sans-serif;
$slab: 'Roboto Slab', serif;
$fa-font-path: "../fonts/webfonts";

/* z-index*/
$z1:        1;
$z10:       10;
$z100:      100;
$z1000:     1000;
$z10000:    10000;