@charset "UTF-8";

/* Standard Colors */
$c_white: #fff;
$c_black: #000;

/* Theme Colors */
$c_snowblue: #EBF2FF;
$c_deepblue: #44647A;
$c_shinyred: #ED254E;
$c_rustyred: #D52941;

/*Transparent Colors */
$c_t_white: rgba(255,255,255,0.5);
$c_t_black: rgba(0,0,0,0.5);

/* screens */
$container_xs: 375px;
$container_l: 900px;

/* fonts */
$oswald: 'Oswald', sans-serif;
$slab: 'Roboto Slab', serif;