<div class="angrycat">
    <div class="angrycat-head">
        <div class="angrycat-eye"></div>
        <div class="angrycat-eye right"></div>
        <div class="angrycat-noise"></div>
        <div class="angrycat-whiskered"></div>
        <div class="angrycat-whiskered right"></div>
    </div>
    <div class="angrycat-ear"></div>
    <div class="angrycat-ear right"></div>
    <div class="angrycat-body"></div>
    <div class="angrycat-tail"></div>
    <div class="angrycat-leg"></div>
    <div class="angrycat-leg right"></div>
    <div class="angrycat-tail-pro"></div>
    <div class="angrycat-poster">
        <h1 class="angrycat-text">
            4<span class="angrycat-fall">0 </span>4
        </h1>
    </div>
    <div class="angrycat-poster-stick"></div>
</div>
