<div class="apocalypse">
    <div class="dino">
        <div class="dino-head">
            <div class="dino-eye">
                <div class="dino-eyebrown"></div>
                <div class="dino-iris"></div>
            </div>
            <div class="dino-eye right">
                <div class="dino-eyebrown"></div>
                <div class="dino-iris"></div>
            </div>
            <div class="dino-nostril"></div>
            <div class="dino-nostril right"></div>
            <div class="dino-tulk"></div>
            <div class="dino-tulk right"></div>
        </div>
        <div class="dino-body">
            <div class="dino-hand">
                <div class="dino-hoff"></div>
                <div class="dino-hoff center"></div>
                <div class="dino-hoff bottom"></div>
            </div>
            <div class="dino-hand right">
                <div class="dino-hoff"></div>
                <div class="dino-hoff center"></div>
                <div class="dino-hoff bottom"></div>
            </div>
            <div class="dino-foot">
                <div class="dino-hoff"></div>
                <div class="dino-hoff center"></div>
                <div class="dino-hoff last"></div>
            </div>
            <div class="dino-foot right">
                <div class="dino-hoff"></div>
                <div class="dino-hoff center"></div>
                <div class="dino-hoff last"></div>
            </div>
        </div>
        <div class="dino-tail">
            <div class="bone"></div>
            <div class="bone"></div>
            <div class="bone"></div>
            <div class="bone"></div>
        </div>
    </div>

    <div class="meteor">
        <div class="meteor-fire">
            <div class="meteor-inside-fire">
                <div class="meteor-rock">
                </div>
            </div>
        </div>
    </div>
</div>