<div class="avatar  ">
    <div class="avatar-hair"></div>
    <div class="avatar-head">
        <div class="avatar-ear"></div>
        <div class="avatar-ear right"></div>
        <div class="avatar-glasses">
                <div class="avatar-glasses-len"></div>
                <div class="avatar-glasses-bridge"></div>
                <div class="avatar-glasses-len right"></div>
            </div>

            <div class="avatar-eye">
                <div class="avatar-eyebrown"></div>
            </div>
            <div class="avatar-eye right">
                <div class="avatar-eyebrown"></div>
            </div>

        <div class="avatar-nose"></div>
        <div class="avatar-mouth"></div>
    </div>
    <div class="avatar-neck"></div>
    <div class="avatar-body"></div>
</div>