<link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
<script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.wpcc.init({
            "colors":{
                "popup":{"background":"#f6f6f6","text":"#000000","border":"#555555"},
                "button":{"background":"#555555","text":"#ffffff"}
            },
            "position":
                "bottom",
                "content":{
                    "href":"https://www.websitepolicies.com/policies/view/S0MObbo6",
                    "link":"Política de Cookies",
                    "button":"Aceptar",
                    "message":"Esta web utiliza cookies para asegurar una mejora experiencia. "
                },
                "margin":"none",
                "transparency":"10"
        })
    });
</script>