<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <h3 class="footer-contact">Datos de contacto</h3>
            <ul class="footer-social-list">
                <li class="footer-social-item">Neus Agüera Valls</li>
                <li class="footer-social-item">neus@cssillustrations.com</li>
                <li class="footer-social-item inline">
                    <a href="https://www.linkedin.com/in/nagueravalls/" target="_blank" class="footer-social-link"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </li>
            </ul>
            <div class="logo">
                <a class="logo-text" href="/">
                    CSS ILLUSTRATIONS
                </a>
            </div>
        </div>
    </div>
</footer>