{{ $menu := resources.Get "js/menu.js" }}
{{ $clipboard := resources.Get "js/clipboard.js" }}
{{ $js := slice $menu $clipboard | resources.Concat "js/bundle.js" | resources.Minify }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147617636-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147617636-1', { 'anonymize_ip' : true} );
</script>