<div class="container">
    <div class="row animation">
        <div class="lab-animation">
            <div class="lab-fire">
                <div class="lab-fire-flame"></div>
                <div class="lab-fire-flame right"></div>
            </div>
            <div class="lab-flask">
                    <div class="lab-flask-neck"></div>
                <div class="lab-flask-body">
                    <div class="lab-flask-liquid"></div>
                </div>

            </div>
            <div class="lab-tree">
                <div class="lab-tree-trunk"></div>
                <div class="lab-tree-branch"></div>
                <div class="lab-tree-ground"></div>
            </div>
            <div class="lab-bubble"></div>
            <div class="lab-bubble medium"></div>
            <div class="lab-bubble small"></div>
            <div class="lab-bubble smaller"></div>
        </div>
        {{- partial "introduce.html" . -}}
    </div>
</div>
