{{ $pageurl := .Page.URL }}
{{ $siteurl := .Site.BaseURL }}
<div class="share-buttons">
    <ul class="share-buttons-list">
        <li class="share-buttons-item facebook">
            <a class="share-buttons-link" target="_blank" href='http://www.facebook.com/share.php?u={{ $siteurl }}{{ $pageurl }}'>
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li class="share-buttons-item twitter">
            <a class="share-buttons-link" target="_blank" href='http://twitter.com/home?status={{ $siteurl }}{{ $pageurl }}'>
                <i class="fab fa-twitter-square"></i>
            </a>
        </li>
        <li class="share-buttons-item linkedin">
            <a class="share-buttons-link" target="_blank" href='https://www.linkedin.com/shareArticle?mini=true&url={{ $siteurl }}{{ $pageurl }}&title=&summary=&source='>
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li class="share-buttons-item mail">
            <a class="share-buttons-link" target="_blank" href='mailto:?&body={{ $siteurl }}{{ $pageurl }}'>
                <i class="fas fa-envelope"></i>
            </a>
        </li>
    </ul>
</div>